/* Global Stlying */
* {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* All Button Elements */
button {
    box-sizing: border-box;
    border: 1px solid purple;
    background-color: purple;
    border-radius: 10%;
    color: white;
}

/* All P Elements */
p {
    font-size: 20px;
}

